.task-main{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

.task-main:hover{
    border-bottom: none;
}

.task-icon-wrap{
    height: 36px;
    width: 36px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285F4;
    border-radius: 100px;
    flex-shrink: 0;
}

.task-title-wrap{
    width: calc(100% - 96px);
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

.task-title-text{
    color: #3C4043;
}

.task-more-btn-wrap{
    height: 36px;
    width: 36px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.task-more-btn-wrap:hover{
    background-color: rgba(32, 33, 36, .04);
}

.work-title-wrap{
    width: auto;
    flex-grow: 1;
}

.work-grade-wrap{
    width: auto;
    margin-left: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.task-main-text-all{
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}