.style-text-in-menu {
    color: #161616;
    padding-left: 12px;
    user-select: none;
    width: calc(100% - 24px);
    font-weight: 600;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}
