.bar-left{
    display: flex;
    width: 36px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row
}

.bar-right{
    display: flex;
    height: 100%;
    width: calc(100% - 36px);
}

.bar-right-icons-zone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
}

.bar-right-text-zone{
    display: flex;
    height: 100%;
    padding: 0 10px;
}

.bar-text-wrap{
    display: flex;
    width: 100%;
}

.bar-text{
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #161616;
    font-size: 18px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    line-height: 24px;
    max-width: 100%;
}