.task-root{
    width: 100%;
    min-height: 60px;
    box-shadow: none;
    border-radius: 8px;
}

.task-root:hover{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.task-main{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

.task-main:hover{
    border-bottom: none;
}

.task-icon-wrap{
    height: 36px;
    width: 36px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285F4;
    border-radius: 100px;
}

.task-more-btn-wrap{
    height: 36px;
    width: 36px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.task-more-btn-wrap:hover{
    background-color: rgba(32, 33, 36, .04);
}

.task-title-wrap{
    width: calc(100% - 96px);
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
}

.task-title-text{
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3C4043;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-info-wrap{
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.task-info-main{
    padding: 16px 24px;
}

.task-info-description{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, .87);
}