.task-info-wrap{
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.task-info-main{
    padding: 16px 24px;
}

.task-info-text-all{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

.task-info-default-text{
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, .87);
}

.task-info-absence{
    font-size: 12px;
    line-height: 16px;
    color: #5F6368
}

.work-btns-wrap{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.work-btns-all{
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
}

.add-work-btn{
    border-color: #DADCE0;
    transition: border-color 0.25s;
}

.submit-work-btn{
    margin-left: 12px;
    background-color: #1967D2;
    border-color: #1967D2;
}

.submit-work-btn:hover{
    background-color: #144B9D;
    border-color: #144B9D
}

.submit-work-text{
    color: #FFFFFF
}

.add-work-btn:hover{
    background-color: #E8F0FE;
}

.add-work-btn:active{
    border-color: #1967D2;
}

.add-work-text{
    color: #1967D2
}