.modal-input {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}

.inputs-margin {
    margin: 20px 0;
}

.modal-wrap{
    padding: 5px;
}

.modal-header-text{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.modal-root{
    min-width: 330px !important;
    width: 90vw !important;
    max-width: 450px !important;
}

.modal-cancel-btn{
    color: #5F6368 !important;
    border: None;
    padding: 0 8px;
    box-shadow: None;
}

.modal-cancel-btn:hover{
    background-color: rgba(95, 99, 104, .04) !important;
}

.modal-ok-btn{
    color: #1967d2 !important;
    border: None;
    padding: 0 8px;
    background-color: #FFFFFF !important;
    box-shadow: None;
}

.modal-ok-btn:hover{
    background-color: #F8FAFF !important;
}

.modal-btn-font{
    font-size: 14px;
    font-weight: 500;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.modal-body-text{
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    line-height: 20px;
}

input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto, Arial, sans-serif;
}