.head-main {
  height: 72px;
  padding: 16px;
  font-family: "Noto Sans", Roboto, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: #1967d2;
  border-bottom: 1px solid #4285f4;
}
