.go-back-area{
    width: 104px;
    height: 144px;
    padding: 12px;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin-bottom: 4px;
}

.go-back-area:hover {
    background-color: #F0F5FF;
}

.item-icon{
    width: 80px;
    height: 80px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    order: 0;
}

.item-info{
    width: 80px;
    height: 40px;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
}

.item-title{
    height: 28px;
    word-break: break-all;
    line-height: 14px;
    text-align: center;
}

.clamped-text{
    display: inline-block;
    word-break: break-all;
    white-space: pre-line;
    font: 13px / 14px "YS Text", sans-serif;
    max-width: 80px;
    user-select: none;
}