.form-title{
    text-align: center;
    color: #161616;
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 90vw;
    min-width: 276px;
    padding: 20px;
    border-radius: 10px;

}

@media (orientation: landscape) {
    .form {
        width: 28vw;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.elements-form {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

.form-btn {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 65px;
}

.inputs-margin {
    margin-bottom: 20px;
}

.btn-margin {
    margin-top: 40px;
}

.nav-link-deactivation{
    pointer-events: none;
}


.no-margin{
    margin: 0;
}

.input-group input:focus {
    outline: none;
    box-shadow: none;
}

.btn-hide-password-style{
    outline: none;
    box-shadow: none;
}

.menu-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #161616;
}

.style-text-in-menu {
    color: #161616;
    font-weight: 600;
    padding-left: 8px;
}

.style-img-offcanvas {
    position: relative;
    bottom: 1px;
}

.style-title-offcanvas {
    color: #161616;
}
