.form-title{
    text-align: center;
    color: #161616;
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 96vw;
    min-width: 276px;
    padding: 20px;
    border-radius: 10px;

}

@media (min-width: 800px) {
    .form {
        width: 24vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.elements-form {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

.form-btn {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 65px;
}

.inputs-margin {
    margin-bottom: 20px;
}

.btn-margin {
    margin-top: 40px;
}

.nav-link-deactivation{
    pointer-events: none;
}


.no-margin{
    margin: 0;
}

.input-group input:focus {
    outline: none;
    box-shadow: none;
}

.btn-hide-password-style{
    outline: none;
    box-shadow: none;
}

.img-btn-catalog-test{
    padding-left: 80px;
}
