.form-title {
    text-align: center;
    color: #161616;
    margin-bottom: 40px;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    width: 90vw;
    min-width: 276px;
    padding: 20px;
    border-radius: 10px;

}

@media (orientation: landscape) {
    .form {
        width: 28vw;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.elements-form {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}

.form-btn {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 65px;
}

.inputs-margin {
    margin-bottom: 20px;
}

.btn-margin {
    margin-top: 40px;
}

.nav-link-deactivation {
    pointer-events: none;
}


.no-margin {
    margin: 0;
}

.input-group input:focus {
    outline: none;
    box-shadow: none;
}

.btn-hide-password-style {
    outline: none;
    box-shadow: none;
}

.menu-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #161616;
}

.style-text-in-menu {
    color: #161616;
    font-weight: 600;
    padding-left: 8px;
}

.style-img-offcanvas {
    position: relative;
    bottom: 1px;
}

.style-title-offcanvas {
    color: #161616;
}

.background-darkening {
    display: none;
}

@keyframes shakeButton {
    10% { transform: translateX(-1px) translateY(-1px);}
    20% { transform: translateX(1px) translateY(1px);}
    30% { transform: translateX(0px) translateY(0px);}
    40% { transform: translateX(-1px) translateY(1px);}
    50% { transform: translateX(1px) translateY(-1px);}
    60% { transform: translateX(0px) translateY(0px);}
    70% { transform: translateX(-1px) translateY(-1px);}
    80% { transform: translateX(1px) translateY(1px);}
    90% { transform: translateX(-1px) translateY(-1px);}
    100% { transform: translateX(0px) translateY(0px);}
}

.store-style {
    position: relative;
    height: 100vh;
    width: 95%;
    margin: 20px auto;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.style-text-file {
    text-align: center;
    font-size: 13px;
}

.actions-container {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #fff;
    padding: 8px 0;
    margin-top: 4px;
    list-style-type: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 0;
    width: 100px;
    border: 0;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
}

.drop-area {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.25);
    width: 100%;
    height: 100%;
}

.drop-frame {
    display: flex;
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: calc(100vw - 4vh);
    height: calc(100vh - 4vh);
    border: 5px dashed white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.storage-main {
    width: calc(100vw - 40px);
    height: calc(100vh - 46px - 40px);
    margin: 20px;
    background-color: #EBF0FF;
}

.file-area{
    width: 104px;
    height: 144px;
    padding: 12px;
}

.item-icon{
    width: 80px;
    height: 80px;
    align-items: flex-end;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    order: 0;
}

.item-info{
    width: 80px;
    height: 40px;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
}

.item-title{
    height: 28px;
    word-break: break-all;
    line-height: 14px;
    text-align: center;
}

.clamped-text{
    display: inline-block;
    word-break: break-all;
    white-space: pre-line;
    font: 13px / 14px "YS Text", sans-serif;
    max-width: 80px;
}

.icon-wrapper{
    position: relative;
}

.file-icon{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.file-icon::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.folder-icon{
    background-image: url("../elements/disk/icons/folder_icon.png");
}

.docx-icon{
    background-image: url("../elements/disk/icons/docx_icon.png")
}

.doc-icon{
    background-image: url("../elements/disk/icons/docx_icon.png");
}

.png-icon{
    background-image: url("../elements/disk/icons/image_icon.png");
}

.jpeg-icon{
    background-image: url("../elements/disk/icons/image_icon.png");
}

.jpg-icon{
    background-image: url("../elements/disk/icons/image_icon.png");
}

.pdf-icon{
    background-image: url("../elements/disk/icons/pdf_icon.png");
}

.xls-icon{
    background-image: url("../elements/disk/icons/xlsx_icon.png");
}

.xlsx-icon{
    background-image: url("../elements/disk/icons/xlsx_icon.png");
}

.rar-icon{
    background-image: url("../elements/disk/icons/archive_icon.png");
}

.zip-icon{
    background-image: url("../elements/disk/icons/archive_icon.png");
}

.pptx-icon{
    background-image: url("../elements/disk/icons/pptx_icon.png");
}

.mp4-icon{
    background-image: url("../elements/disk/icons/video_icon.png");
}

.other-icon{
    background-image: url("../elements/disk/icons/other_icon.png");
}